[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[alias]
	co = checkout
	d = difftool --trust-exit-code
	ds = diff --stat
	s = status
	a = add
	c = commit
	sl = stash list
	sp = stash pop
	bd = branch -d
	ba = branch -a
	b = branch
	l = log
	lo = log --oneline
	ln = log --name-only --oneline
[include]
	path = ~/.gitconfig.local
[push]
	default = simple
[pull]
	ff = only
[safe]
	directory = /home/firedrake/firedrake/src/PyOP2
	directory = /home/firedrake/firedrake/src/firedrake
[init]
	defaultBranch = main
