snippet cos "\cos()"
\\cos(${1:${VISUAL:text}}) ${0}
endsnippet

snippet sin "\sin()"
\\sin(${1:${VISUAL:text}}) ${0}
endsnippet

snippet align "align environment"
\\begin{align}
${1}
\\end{align}
${0}
endsnippet

snippet ma "inline math"
\$${1:${VISUAL:text}}\$ ${0}
endsnippet

snippet fracd "1st partial deriv"
\\frac{\partial${1:num}}{\partial${2:denom}} ${0}
endsnippet

snippet fracdd "2nd partial deriv"
\\frac{\partial${1:num}}{\partial${2:denom}} ${0}
endsnippet
